<ion-view view-title="About Us">
    <ion-content>
        <div class="list card">
            <a class="item">
                About Hatten Group
            </a>
            <a class="item">
                Visit Hatten Group Website
            </a>
            <a class="item">
                Follow Us on Facebook
            </a>
            <a class="item">
                Contact Us
            </a>
            <a class="item" ng-click="u.rateApp()">
                Rate Us
            </a>
            
        </div>
    </ion-content>
</ion-view>