<ion-view view-title="{{project.displayName}}'s Consultants">
    <ion-nav-title>
       {{project.displayName}}'s Consultants
    </ion-nav-title>
    <ion-content>
        <div class="list card fade-animation" ng-repeat="consultant in consultants">
            <a ng-href="#/app/consultant/{{consultant.id}}" class="item item-icon-left item-avatar-left">
                <img ng-src="{{consultant.thumb}}">
                <p class="font-bold">{{consultant.fullName}}</p>
                <p><small>{{consultant.contact}}</small></p>
                <p><small>{{consultant.address}}</small></p>
            </a>
        </div>
    </ion-content>
</ion-view>