<ion-view view-title="{{construction.displayName}}">
    <ion-nav-title>
       {{construction.displayName}}
    </ion-nav-title>
    <ion-content>
        <img class="view-center-thumb padding-top" ng-src="{{project.thumb}}">
        <div class="list card fade-animation" ng-repeat="progress in progresses">
            <img class="full-img-responsive" ng-src="{{progress.thumb}}">
            <p class="padding-left padding-right">Photo taken by {{progress.photoTakenDate | date:'MMM dd, yyyy'}}</p>
        </div>
    </ion-content>
</ion-view>