<ion-view view-title="Privacy Policy">
    <ion-content>
        <pre class="center-block padding">
Privacy Policy
The [organisation name] is committed to protect the privacy of individuals who visit the
website and who make use of the on-line facilities.
This privacy policy provides you with information in terms of articles 19 and 20 of the Data
Protection Act. It also takes consideration of Recommendation 2/2001 of the Article 29 Data
Protection Working Party, adopted on 17 May 2001, on certain minimum requirements for
collecting personal data on-line.
The policy can be easily accessible via a link at the bottom of each web page.
1. Data Controller
The data controller of this website is the [organisation name] whose office is situated at
[address].
2. Information collected and purpose
Download Information
When you visit our website the following information will automatically be processed and this
solely for the use of this association:
 The requested web page or download;
 Whether the request was successful or not;
 The date and time when you accessed the site;
 The Internet address of the web site or the domain name of the computer from which
you accessed the site;
 The operating system of the machine running your web browser and the type and
version of your web browser.
Cookies
Cookies are small pieces of data that the site transfers to the user’s computer hard drive
when the user visits the website. Our website uses only session cookies which are erased
when the user closes the Web browser. The session cookie is stored in temporary memory
and is not retained after the browser is closed. Session cookies do not collect information
from the user’s computer. They will typically store information in the form of a session
identification that does not personally identify the user.
Personal data provided by the data subject
When using this website’s online facilities, data subjects may be required to provide their
personal data for the purposes of [insert the purposes for which the information shall be
processed].
3. Your rights as data subject
As an individual you may exercise your right to access the data held about you by this
company by submitting your request in writing to the data controller.
Although all reasonable efforts will be made to keep your information updated, you are kindly
requested to inform us of any change referring to the personal data held by the association.
In any case if you consider that certain information about you is inaccurate, you may request
rectification of such data. You also have the right to request the blocking or erasure of data
which has been processed unlawfully.
4. Links to other Web Sites
To give you a better service our site can connect you with a number of links to other local
and international organisations and agencies. When connecting to such other websites you
will no longer be subject to this policy but to the privacy policy of the new site.
5. Transaction Security Policy (this section should be included when the site makes use of
a payment gateway for financial transactions)
This site uses Secure Sockets Layer (SSL) to ensure secure transmission of your personal
data. You should be able to see the padlock symbol in the status bar on the bottom right
hand corner of the browser window. The url address will also start with https:// depicting a
secure webpage. SSL applies encryption between two points such as your PC and the
connecting server. Any data transmitted during the session will be encrypted or scrambled
and then decrypted or unscrambled at the receiving end. This will ascertain that data cannot
be read during transmission.
6. Changes to this Privacy Policy
If there are any changes to this privacy policy, we will replace this page with an updated
version. It is therefore in your own interest to check the "Privacy Policy" page any time you
access our web site so as to be aware of any changes which may occur from time to time.
7. Feedback
Any comments or suggestions that you may have and which may contribute to a better
quality of service will be welcome and greatly appreciated. 
        </pre>
    </ion-content>
</ion-view>