<ion-view view-title="{{property.displayName}}">
    <ion-nav-title>
       {{property.displayName}}
    </ion-nav-title>
    <ion-content>
        <div class="fade-animation" ng-show="property">
            <img class="view-center-thumb padding-top" ng-src="{{project.thumb}}">
            <div class="list card line-card-image">
                <img ng-src="{{property.thumb}}" class="full-img-responsive">
            </div>
            <div class="list card">
                <div class="item-body" ng-bind-html="property.description">
<!--                    {{property.description}}-->
                </div>
                <button class="button button-full button-positive footer-button">
                    LEARN MORE
                </button>
            </div>
            <div class="list card">
                <div class="item padding-0">
                    <div class="row padding-0">
                        <div class="col padding-md text-center">
                            <a>Floor Plan</a>
                        </div>
                        <div class="col padding-md left-border text-center">
                            <a>Specification</a>
                        </div>
                    </div>
                </div>
                <div class="item padding-0">
                    <div class="row padding-0">
                        <div class="col padding-md text-center">
                            Gallery
                        </div>
                        <div class="col padding-md left-border text-center">
                            Location
                        </div>
                    </div>
                </div>
            </div>
            <div class="list card">
                <button class="button button-full button-balanced footer-button">
                    FIND A CONSULTANT
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>