<ion-view view-title="Properties">
    <div class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
        <div class="tabs">
            <a class="tab-item" ng-class="{active:tabIndex==0}" ng-click="tabIndex=0;">
                 COMMERICIAL
            </a>
            <a class="tab-item" ng-class="{active:tabIndex==1}" ng-click="tabIndex=1;">
                 RESIDENTIAL
            </a>
            <a class="tab-item" ng-class="{active:tabIndex==2}" ng-click="tabIndex=2;">
                 HOSPITALITY
            </a>
        </div>
    </div>
    <ion-content>
        <div class="list card fade-in-animation" ng-repeat="property in properties | filter:{type:tabIndex}">
            <div class="item padding-0 line-card-image">
                <a ng-href="#/app/property/{{property.id}}"><img class="full-img-responsive" ng-src="{{property.thumb}}"></a>
            </div>
            <div class="item item-icon-right">
                <p>{{property.displayName}}</p>
                <a ng-click="u.addFavourite(property)"><i class="icon ion-android-share-alt icon-left-border"></i></a>
                <a ng-click="u.share(property)"><i class="icon ion-android-share-alt icon-left-border"></i></a>
            </div>
        </div>
    </ion-content>
</ion-view>