<ion-view view-title="Purchased">
    <ion-content>
        <div class="list card fade-animation" ng-repeat="purchasedProperty in purchasedProperties">
            <a href="#/app/purchasedproperty/{{purchasedProperty.id}}" class="item item-icon-left item-thumbnail-left" >
                <img ng-src="{{purchasedProperty.thumb}}"> 
                <p>
                    <b>{{purchasedProperty.displayName}}</b>
                    <br/><small>{{purchasedProperty.area}}</small>
                </p>
                <p><small>Purchased at {{purchasedProperty.purchasedDate | date : 'MMM dd, yyyy'}}</small></p>
            </a>
        </div>
    </ion-content>
</ion-view>