<ion-view view-title="{{voucher.displayName}}" id="voucher">
    <ion-nav-title>
       {{voucher.displayName}}
    </ion-nav-title>
    <ion-nav-buttons side="right ">
        <button class="button button-clear button-positive" ng-click="openGivePoint()">
            My point
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="fade-animation" ng-show="voucher">
            <div class="list card">
                <div class="item padding-0">
                    <img class="full-img-responsive" ng-src="{{voucher.thumb}}">
                </div>
                <div class="item">
                    <p>
                        <span class="font-bold font-size-lg">{{voucher.displayName}}</span>
                    </p>
                    <p>
                        Point required : {{voucher.pointrequired}} 
                    </p>
                    <p>
                        Max claim per member : {{voucher.maxclaimpermember}} 
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <button class="button button-full button-balanced footer-button" ng-click="openRedeem()">
                REDEEM
            </button>
        </div>
    </ion-content>
</ion-view>