<ion-view view-title="Vouchers">
    <ion-nav-buttons side="right ">
        <button class="button button-clear button-positive" ng-click="openGivePoint()">
            My point
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card fade-animation" ng-repeat="voucher in vouchers">
            <a href="#/app/voucher/{{voucher.id}}" class="item item-icon-left item-thumbnail-left">
                <img ng-src="{{voucher.thumb}}">
                <p>
                    <b>{{voucher.displayName}}</b>
                    <br/><small>Point Required : {{voucher.pointrequired}}</small>
                </p>
                <p><small>Max claim per member : {{voucher.maxclaimpermember}}</small></p>
            </a>
        </div>
    </ion-content>
</ion-view>