<ion-view view-title="What's New">
    <ion-content>
        <div class="list card fade-animation" ng-repeat="new in news">
            <div class="item padding-0">
                <img class="full-img-responsive" ng-src="{{new.thumb}}">
                
                <p class="padding">
                    <small>{{new.period}}</small>
                    <br/>
                    <span class="font-bold font-size-lg">{{new.displayName}}</span>
                </p>
            </div>
            <div class="item item-icon-right">
                <p>Count Down: {{new.expireRemain}}</p>
                <a ng-click="u.toggleFavourited(new)"><i class="icon icon-left-border icon-right-2 text-energized" ng-class="{'ion-ios-star-outline':new.favourited, 'ion-ios-star':!new.favourited}"></i></a>
                <a ng-click="u.share(new)"><i class="icon ion-android-share-alt icon-left-border"></i></a>
            </div>
        </div>
    </ion-content>
</ion-view>