<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Redeem {{voucher.displayName}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="modal.hide()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="padding-lg text-center">
            <qrcode version="2" size="160" data="{{'m'+apiUser.getUser().memberId+'p'+voucher.productId}}"></qrcode>
        </div>
        <p class="text-center padding-md-horizontal">Show this qrcode to merchant to process Redeem</p>
    </ion-content>
</ion-modal-view>